server:
  port: 8082
spring:
  application:
    name: meta-service
  datasource:
    url: jdbc:mysql://localhost:3306/meta_db?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
    username: root
    password: Lyy135792468
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: none
    open-in-view: false
    properties:
      hibernate:
        globally_quoted_identifiers: true
