server:
  port: 8090

spring:
  application:
    name: gateway-service
  cloud:
    nacos:
      discovery:
        enabled: false
    gateway:
      server:
        webflux:
          routes:
            - id: user-auth
              uri: http://localhost:8081
              predicates:
                - Path=/api/auth/**
            - id: user-service
              uri: http://localhost:8081
              predicates:
                - Path=/api/users/**
            - id: meta-service
              uri: http://localhost:8082
              predicates:
                - Path=/api/meta/**
            - id: list-service
              uri: http://localhost:8083
              predicates:
                - Path=/api/favorites/**,/api/playlists/**,/api/playlist-details/**

security:
  jwt:
    secret: music-microservices-dev-jwt-secret-please-change-32bytes
    issuer: music-microservices
